* {
    padding: 0%;
    margin: 0%;
    font-family: "Playfair", serif;
}
.bg-gray4{
    background-color: #edece7;
}
.c-bronze {
    color: #c5a992;
    border: 1px solid #c5a992;
}

.bg-gray-2 {
    background-color: #edebe4;
}

.bg-gray {
    background-color: #f3f2ec;
}

.c-bg-gray {
    color: #c9c9c7;
}

.nav-link.active {
    color: #a5591d !important;
}

.logo {
    width: 117px;
}
.logo2 {
    width: 220px;
}
.h-img {
    height: 70vh;
}
.bg-gray3{
    background-color: #efeee8;
}

.brown{
    color: #907a50;
}
.silver{
    color: #9a989d;
}
.silver2{
    color: #c0beba;
}
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #a3a4a2;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.black{
    background-color: black;
    color: white;
}
.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #a3a4a2;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.hero {
    height: auto;
}

.line {
    width: 200px;
    height: 1px;
    background-color: #c9c9c7;
}
.line2 {
    width: 50px;
    height: 2px;
    background-color: #7b6c3a;
}
.card-header:hover .black {
    display: block !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color:#f3f2ec ;
    border: none;
}
.list-link {
    color: #666; 
    text-decoration: none;
}

.list-link.active {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #7b6c3a;
}
@media (min-width: 992px) {
    .hero {
        height: calc(100vh);

    }
}